In [1]:
import pandas as pd

In [7]:
data = pd.read_excel(r'D:\Machine Learning Practical\Netflix TV Shows and Movies.xlsx')

In [8]:
print("Original Dataset:")
print(data.head())

Original Dataset:
   index        id                            title   type  \
0      0   tm84618                      Taxi Driver  MOVIE
1      1  tm127384  Monty Python and the Holy Grail  MOVIE
2      2   tm70993                    Life of Brian  MOVIE
3      3  tm190788                     The Exorcist  MOVIE
4      4   ts22164     Monty Python's Flying Circus   SHOW

                                         description  release_year  \
0  A mentally unstable Vietnam War veteran works ...          1976
1  King Arthur, accompanied by his squire, recrui...          1975
2  Brian Cohen is an average young Jewish man, bu...          1979
3  12-year-old Regan MacNeil begins to adapt an e...          1973
4  A British sketch comedy series with the shows ...          1969

  age_certification  runtime    imdb_id  imdb_score  imdb_votes  Score*Votes
0                 R      113  tt0075314         8.3    795222.0    6600342.6
1                PG       91  tt0071853         8.2    530877.0    4353191.4
2                 R       94  tt0079470         8.0    392419.0    3139352.0
3                 R      133  tt0070047         8.1    391942.0    3174730.2
4             TV-14       30  tt0063929         8.8     72895.0     641476.0

In [9]:
# Find all null values
null_values = data.isnull().sum()

In [10]:
print("\nNull values in each column:")
print(null_values)

Null values in each column:
index                   0
id                      0
title                   0
type                    0
description             5
release_year            0
age_certification    2285
runtime                 0
imdb_id                 0
imdb_score              0
imdb_votes             16
Score*Votes             0
dtype: int64

In [11]:
data_cleaned = data.dropna()

In [12]:
print("\nCleaned Dataset (after removing null values):")
print(data_cleaned.head())

Cleaned Dataset (after removing null values):
   index        id                            title   type  \
0      0   tm84618                      Taxi Driver  MOVIE
1      1  tm127384  Monty Python and the Holy Grail  MOVIE
2      2   tm70993                    Life of Brian  MOVIE
3      3  tm190788                     The Exorcist  MOVIE
4      4   ts22164     Monty Python's Flying Circus   SHOW

                                         description  release_year  \
0  A mentally unstable Vietnam War veteran works ...          1976
1  King Arthur, accompanied by his squire, recrui...          1975
2  Brian Cohen is an average young Jewish man, bu...          1979
3  12-year-old Regan MacNeil begins to adapt an e...          1973
4  A British sketch comedy series with the shows ...          1969

  age_certification  runtime    imdb_id  imdb_score  imdb_votes  Score*Votes
0                 R      113  tt0075314         8.3    795222.0    6600342.6
1                PG       91  tt0071853         8.2    530877.0    4353191.4
2                 R       94  tt0079470         8.0    392419.0    3139352.0
3                 R      133  tt0070047         8.1    391942.0    3174730.2
4             TV-14       30  tt0063929         8.8     72895.0     641476.0

In [13]:
data_cleaned.isnull().sum()

index                0
id                   0
title                0
type                 0
description          0
release_year         0
age_certification    0
runtime              0
imdb_id              0
imdb_score           0
imdb_votes           0
Score*Votes          0
dtype: int64

In [ ]:
data_cleaned.to_csv('cleaned_dataset.csv', index=False)